header {
  width: 100%;
  height: 15%;
  background-color: #579c87;
  display: flex;
  align-items: center;
}
header p {
  margin: auto;
  color: #fdcb46;
  font-size: 50px;
  font-weight: bold;
  font-family: "Berlin Sans FB Demi", sans-serif;
}

footer {
  height: 7%;
  width: 100%;
  background-color: #579c87;
  display: flex;
}

section {
  height: 78%;
  width: 100%;
}
section a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #3c1218;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.menus-container {
  height: 80%;
  display: flex;
}

.menu {
  width: 241.5px;
  height: 341.55px;
  margin: auto;
  box-shadow: 0px 0px 10px 0px #9e9e9e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__icon {
  padding-bottom: 1em;
}
.menu__icon i {
  margin: auto;
  margin-bottom: 0px;
  color: #3c1218;
}
.menu__title {
  color: #3c1218;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
.menu__title p {
  margin: auto;
}
.menu__content {
  color: #3c1218;
  font-weight: bold;
  font-style: italic;
}
.menu__content p {
  font-size: 20px;
}

#note {
  background-color: #fcdfdb;
}

#chic {
  background-color: #fff5fe;
}
#chic__title, #chic__content {
  background: -webkit-linear-gradient(#905bfd, #d8352e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#delice {
  background-color: #f9f9f9;
}
#delice__title, #delice__content {
  background: -webkit-linear-gradient(#6cb2f9, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#palette {
  background-color: white;
}
#palette__title, #palette__content {
  background: -webkit-linear-gradient(#bfff7e, #38973c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement__container {
  height: 20%;
  display: flex;
  text-align: center;
}
.prochainement__container button {
  height: 50%;
  width: 25%;
  margin: auto;
  margin-top: 10px;
  border: 2px;
  background-color: #579c87;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  padding: 0px;
  color: #fdcb46;
}

.btn__container {
  display: flex;
  width: 50%;
}
.btn__container button {
  height: 100%;
  font-size: 20px;
  background-color: #579c87;
  border: 0px;
  color: #fdcb46;
}

#contact {
  justify-content: flex-end;
  margin-right: 20px;
}

#mentions {
  margin-left: 20px;
}

.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-verso {
  box-shadow: 0px 0px 10px 0px #9e9e9e;
  background-color: #fcdfdb;
  width: 85%;
  height: 85%;
}
.menu-verso > .menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 25%;
}
.menu-verso > .menu-header > .header-icon {
  margin-top: 10px;
  margin-bottom: 0px;
}
.menu-verso > .menu-header > .header-icon + .header-title > p {
  margin-top: 10px;
  font-weight: bold;
}
.menu-verso > .menu-section {
  display: flex;
  justify-content: space-around;
  height: 65%;
}
.menu-verso > .menu-section > .entres,
.menu-verso > .menu-section .dishes {
  width: 30%;
}
.menu-verso > .menu-section > .deserts {
  width: 30%;
}
.menu-verso > .menu-section .titre {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.menu-verso > .menu-section .choix {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.menu-verso > .menu-section .choix > .txt {
  width: 80%;
}
.menu-verso > .menu-section .choix > .price {
  font-weight: bold;
}
.menu-verso > .menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  height: 10%;
}
.menu-verso > .menu-footer > i {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
