body {
  margin: 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.menu-container > .menu-title {
  font-size: 20px;
  font-weight: bold;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container > .menu-title p {
  margin-bottom: 30px;
}
.menu-container .menu-verso {
  box-shadow: 0px 0px 10px 0px #9e9e9e;
  width: 90%;
  font-family: sans-serif;
  font-style: italic;
  padding: 20px 10px 20px 10px;
}
.menu-container .menu-verso > .menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 25%;
  padding-top: 10px;
}
.menu-container .menu-verso > .menu-header > .header-title > p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}
.menu-container .menu-verso > .menu-section {
  display: flex;
  justify-content: space-around;
  height: 65%;
}
.menu-container .menu-verso > .menu-section > .starters,
.menu-container .menu-verso > .menu-section .dishes,
.menu-container .menu-verso > .menu-section .deserts {
  width: 30%;
}
.menu-container .menu-verso > .menu-section .title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  align-items: center;
  height: 68px;
}
.menu-container .menu-verso > .menu-section .title .img-deco {
  width: 30%;
  transform: scale(0);
  height: 10px;
}
.menu-container .menu-verso > .menu-section .choice {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.menu-container .menu-verso > .menu-section .choice > .txt {
  text-align: left;
}
.menu-container .menu-verso > .menu-section .choice > .price {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.menu-container .menu-verso > .menu-section .choice > .price p {
  margin-left: 15px;
}
.menu-container .menu-verso > .menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.menu-container .menu-verso > .menu-footer > p {
  font-weight: bold;
  font-size: 25px;
}
.menu-container > #menu-note {
  background-color: #fcdfdb;
  color: #3c1218;
}
.menu-container > #menu-note > .header-icon {
  margin-top: 10px;
  margin-bottom: 0px;
}
.menu-container > #menu-note .title-note {
  font-family: serif;
}
.menu-container > #menu-note i {
  margin-right: 15px;
  background: -webkit-linear-gradient(#f05160, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-container > #menu-delice {
  background-color: #edefef;
}
.menu-container > #menu-delice #title-delice {
  background: -webkit-linear-gradient(#6cb2f9, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
}
.menu-container > #menu-chic {
  background-color: #fff5fe;
  font-style: normal;
}
.menu-container > #menu-chic #title-chic {
  background: -webkit-linear-gradient(#905bfd, #d8352e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
}
.menu-container > #menu-chic #starters-chic {
  color: #c67412;
}
.menu-container > #menu-chic #dishes-chic {
  color: #a56799;
}
.menu-container > #menu-chic #deserts-chic {
  color: #6e4ccc;
}
.menu-container > #menu-palette {
  background: #fdfffd;
}
.menu-container > #menu-palette #title-palette {
  background: -webkit-linear-gradient(#bfff7e, #38973c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
}

@keyframes suspension-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes suspension-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes suspension-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.point-1 {
  transform-origin: center;
  animation: suspension-1 1500ms infinite;
}

.point-2 {
  transform-origin: center;
  animation: suspension-2 1500ms infinite;
}

.point-3 {
  transform-origin: center;
  animation: suspension-3 1500ms infinite;
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 5px 5px 10px grey;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes deco {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.title:hover > .img-deco {
  animation: deco 1000ms both;
}
.title:hover > .img-deco__left {
  transform-origin: left;
}
.title:hover > .img-deco__right {
  transform-origin: right;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.025);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}
.menu-in {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#note-dark {
  background-color: #fbd2cd;
}
#note-dark i {
  background: -webkit-linear-gradient(#ec2235, #f36d3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#note-dark p {
  color: #280c10;
}

#chic-dark {
  background-color: #ffe6fc;
}
#chic-dark p {
  background: -webkit-linear-gradient(#6e29fc, #b22721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#delice-dark {
  background-color: #f1f1f1;
}
#delice-dark p {
  background: -webkit-linear-gradient(#3b98f7, #0326ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#palette-dark {
  background-color: #eeffee;
}
#palette-dark p {
  background: -webkit-linear-gradient(#a6ff4b, #2a722d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menus-container .menu-in:hover {
  animation: zoom 500ms forwards;
  opacity: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  height: 11vh;
}
header p {
  color: #fdcb46;
  font-size: 50px;
  font-weight: bold;
  font-family: "Berlin Sans FB Demi", sans-serif;
  margin: 0px;
}
header a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
}

.btn__container {
  display: flex;
  width: 50%;
}
.btn__container a {
  text-decoration: none;
}
.btn__container p {
  background-color: #579c87;
  border: 0px;
  font-size: 20px;
  color: #fdcb46;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.btn__container p:hover {
  animation: wiggle 300ms infinite;
  cursor: pointer;
}

#contact {
  justify-content: flex-end;
  padding-right: 20px;
}

#mentions {
  justify-content: flex-start;
  padding-left: 20px;
}

.section-note {
  padding-bottom: 10vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 7vh;
  min-height: 82vh;
}
section .menus-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  min-height: 58vh;
}
section .menus-container a {
  text-decoration: none;
  width: 18%;
  height: 55vh;
  box-shadow: 0px 0px 10px 0px #9e9e9e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section .menus-container a > .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
section .menus-container a .menu__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
section .menus-container a .menu__title p {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin: auto;
  display: flex;
}
section .menus-container a .menu__content {
  text-align: center;
}
section .menus-container a .menu__content p {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.note {
  background-color: #fcdfdb;
}
.note__title, .note__content {
  color: #3c1218;
}
.note .menu__icon {
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
}
.note .menu__icon i {
  background: -webkit-linear-gradient(#f05160, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic {
  background-color: #fff5fe;
}
.chic__title, .chic__content {
  background: -webkit-linear-gradient(#905bfd, #d8352e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice {
  background-color: #f9f9f9;
}
.delice__title, .delice__content {
  background: -webkit-linear-gradient(#6cb2f9, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette {
  background-color: #fdfffd;
}
.palette__title, .palette__content {
  background: -webkit-linear-gradient(#bfff7e, #38973c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}
.prochainement__container button {
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  border: 2px;
  background-color: #579c87;
  font-size: 20px;
  color: #fdcb46;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prochainement__container button:hover {
  animation: btn 500ms forwards ease-in-out;
}
.prochainement__container button .point-1 {
  margin-left: 5px;
  font-weight: bold;
  opacity: 0;
}
.prochainement__container button .point-2,
.prochainement__container button .point-3 {
  margin-left: 2px;
  font-weight: bold;
  opacity: 0;
}

@media screen and (max-width: 700px) {
  header p {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  header p {
    font-size: 60px;
  }
}
@media screen and (min-width: 2000px) {
  header p {
    font-size: 75px;
  }
}

@media screen and (max-width: 400px) {
  section .menus-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 400px) and (max-width: 1025px) {
  section .menus-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  section .menus-container > a {
    width: 70%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 400px) and (max-width: 1025px) {
  section .menus-container > a {
    width: 40%;
    height: 40vh;
    margin-top: 40px;
  }
}
@media screen and (max-width: 700px) {
  section .menus-container > a .menu__title p,
section .menus-container > a .menu__content p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1400px) {
  section .menus-container > a .menu__title p,
section .menus-container > a .menu__content p {
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  section .prochainement__container button {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  section .prochainement__container button {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  footer .btn__container a p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  footer .btn__container a p {
    font-size: 30px;
  }
}
@media screen and (min-width: 2000px) {
  footer .btn__container a p {
    font-size: 40px;
  }
}

@media screen and (min-width: 1400px) {
  section > .menu-container .menu-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 2000px) {
  section > .menu-container .menu-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  section > .menu-container > .menu-verso .menu-header .header-title p,
section > .menu-container > .menu-verso .menu-footer p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  section > .menu-container > .menu-verso .menu-header .header-title p,
section > .menu-container > .menu-verso .menu-footer p {
    font-size: 30px;
  }
}
@media screen and (min-width: 2000px) {
  section > .menu-container > .menu-verso .menu-header .header-title p,
section > .menu-container > .menu-verso .menu-footer p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1023px) {
  section > .menu-container > .menu-verso > .menu-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section > .menu-container > .menu-verso > .menu-section > .starters,
section > .menu-container > .menu-verso > .menu-section .dishes,
section > .menu-container > .menu-verso > .menu-section .deserts {
    width: 90%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1400px) {
  section > .menu-container > .menu-verso > .menu-section .starters p,
section > .menu-container > .menu-verso > .menu-section .dishes p,
section > .menu-container > .menu-verso > .menu-section .deserts p {
    font-size: 20px;
  }
}
@media screen and (min-width: 2000px) {
  section > .menu-container > .menu-verso > .menu-section .starters p,
section > .menu-container > .menu-verso > .menu-section .dishes p,
section > .menu-container > .menu-verso > .menu-section .deserts p {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
