//* Variables *//

$color-primary: rgb(87, 156, 135);
$color-secondary: rgb(253, 203, 70);
$color-note-fond: rgb(252, 223, 219);
$color-note-texte: rgb(60, 18, 24);
$color-chic-fond: rgb(255, 245, 254);
$color-delices-fond: rgb(249, 249, 249);
$color-palette-fond: white;

//Mixins

@mixin menu__primary($color) {
  width: 218.75px;
  height: 308.75px;
  margin: auto;

  box-shadow: 0px 0px 10px 0px rgb(82, 82, 82);
  background-color: $color;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@mixin menus__titre {
  display: flex;
  text-align: bottom;
  font-style: italic;
  height: 50%;
}

@mixin menus__titre__p($font, $font-size) {
  margin: auto;
  margin-bottom: 0px;
  font-family: $font;
  font-size: $font-size;
}

// Base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

//header

header {
  width: 100%;
  height: 15%;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  & p {
    margin: auto;
    color: $color-secondary;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Berlin Sans FB Demi', sans-serif;
  }
}

//Section

section {
  height: 78%;
  width: 100%;
  & a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $color-note-texte;
  }
}

.menus {
  height: 80%;
  display: flex;

  &__note {
    @include menu__primary($color-note-fond);

    &__i {
      height: 45%;
      display: flex;

      & i {
        margin: auto;
        margin-bottom: 0px;
      }
    }

    &__titre {
      color: $color-note-texte;
      font-weight: bold;
      font-style: italic;
      height: 10%;
      display: flex;
      align-items: center;

      & p {
        margin: auto;
      }
    }

    &__menu {
      color: $color-note-texte;
      font-weight: bold;
      font-style: italic;
      height: 45%;

      & p {
        font-size: 20px;
      }
    }
  }

  &__chic {
    @include menu__primary($color-chic-fond);
    &__titre {
      @include menus__titre;
      & p {
        @include menus__titre__p(Arial, 20px);
      }
    }
    &__menu {
      height: 50%;
    }
  }
  &__delice {
    @include menu__primary($color-delices-fond);
    &__titre {
      @include menus__titre;
      & p {
        @include menus__titre__p(Arial, 20px);
      }
    }
    &__menu {
      height: 50%;
    }
  }
  &__palette {
    @include menu__primary($color-palette-fond);
    &__titre {
      @include menus__titre;
      & p {
        @include menus__titre__p(Arial, 20px);
      }
    }
    &__menu {
      height: 50%;
    }
  }
}

.prochainement {
  height: 20%;
  display: flex;
  text-align: center;
}

.prochainement__btn {
  height: 50%;
  width: 25%;
  margin: auto;
  margin-top: 0px;
  border: 2px;
  background-color: $color-primary;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  padding: 0px;
  color: $color-secondary;
}

//Footer

footer {
  height: 7%;
  width: 100%;
  background-color: $color-primary;
  display: flex;
}

.mentions {
  display: flex;
  width: 50%;
  &__btn {
    height: 100%;
    margin: auto;
    margin-left: 30px;
    font-size: 20px;
    background-color: $color-primary;
    border: 0px;
    color: $color-secondary;
  }
}
.contact {
  width: 50%;
  display: flex;
  &__btn {
    height: 100%;
    margin: auto;
    margin-right: 20px;
    font-size: 20px;
    background-color: $color-primary;
    border: 0px;
    color: $color-secondary;
  }
}

// page 2
section {
  & .menu {
    padding-top: 15px;
    border: 2px solid black;
    &__header {
      display: flex;
      flex-direction: column;
      text-align: center;
      & i {
        font-size: 30px;
      }
      & p {
        font-size: 20px;
      }
    }
    &__section {
      display: flex;
      justify-content: space-around;
      &__entre,
      &__plat,
      &__dessert {
        width: 30%;
        &__titre {
          display: flex;
          justify-content: center;
          & p {
            margin: 18px;
            font-size: 18px;
          }
        }
        &--1,
        &--2,
        &--3,
        &--4 {
          display: flex;
          justify-content: space-between;
          & p {
            font-size: 15px;
          }
          &__prix {
            & p {
              margin: 18px;
            }
          }
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: center;
      & i {
        margin: 15px;
      }
    }
  }
}
