// Header

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  height: 11vh;
  & p {
    color: $color-secondary;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    margin: 0px;
  }
  & a {
    text-decoration: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 7vh;
}

.btn__container {
  display: flex;
  width: 50%;

  & button {
    background-color: $color-primary;
    border: 0px;
    font-size: 20px;
    color: $color-secondary;
    &:hover {
      animation: wiggle 300ms infinite;
      cursor: pointer;
    }
  }
}
#contact {
  justify-content: flex-end;
  padding-right: 20px;
}
#mentions {
  justify-content: flex-start;
  padding-left: 20px;
}
