header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  height: 11vh;

  & p {
    color: $color-secondary;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;

  > .footer-content {
    display: flex;
    width: 50%;
    & p {
      font-size: 20px;
      color: $color-secondary;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  > #contact {
    justify-content: flex-end;
    padding-right: 20px;
  }
  > #mentions {
    justify-content: flex-start;
    padding-left: 20px;
  }
}
