@font-face {
  font-family: 'Eagle Lake';
  src: url('EagleLake.ttf') format('truetype');
}
// je n'arrive pas à faire fonctionner des font persos

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 7vh;
  min-height: 82vh; // ça permet à ma section de prendre au minimum tout la page (- header et footer) et donc de rester centrer même avec un petit contenu

  & .menus-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    width: 100%;
    min-height: 62vh; // cette min-height et celle donné a prochainement__container permet de s'imbriquer parfaitement dans ma section peu importe le contenu et garder toujours les mêmes gaps entre le bouton prochainement les menus et le footer

    & a {
      width: 18%;
      height: 55vh;

      box-shadow: 0px 0px 10px 0px rgb(158, 158, 158);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      > .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative; // obligé de mettre une position pour jouer avec le position absolute de .menu-in
        > .menu-dark {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          opacity: 0;
          transform: scale(1);
          transition: all 800ms ease-in-out;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover {
            transform: scale(1.1);
            opacity: 1;
          }
        }
      }

      & .menu__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        & p {
          font-weight: bold;
          font-style: italic;
          font-size: 20px;
          margin: auto;
          display: flex;
        }
      }
      & .menu__content {
        text-align: center;
        & p {
          font-weight: bold;
          font-style: italic;
          font-size: 20px;
        }
      }
    }
  }
}

.note {
  background-color: $color-note-fond;

  &__title,
  &__content {
    color: $color-note-texte;
    font-family: 'Eagle Lake', cursive;
  }
  & .menu__icon {
    padding-bottom: 1em;
    display: flex;
    justify-content: center;

    & i {
      @include gradient(rgb(240, 81, 96), rgb(246, 145, 106));
    }
  }
}

// Concernent .menu
.chic {
  background-color: $color-chic-fond;
  &__title,
  &__content {
    @include gradient(rgb(144, 91, 253), rgb(216, 53, 46));
  }
}

.delice {
  background-color: $color-delice-fond;
  &__title,
  &__content {
    @include gradient(rgb(108, 178, 249), rgb(4, 49, 223));
  }
}

.palette {
  background-color: $color-palette-fond;
  &__title,
  &__content {
    @include gradient(rgb(191, 255, 126), rgb(56, 151, 60));
  }
}

// Concernent .menu-dark
.note-dark {
  background-color: darken($color-note-fond, 3);
  & i {
    @include darken-gradient(rgb(240, 81, 96), rgb(246, 145, 106));
  }
  & p {
    color: darken($color-note-texte, 5);
  }
}

.chic-dark {
  background-color: darken($color-chic-fond, 3);
  & p {
    @include darken-gradient(rgb(144, 91, 253), rgb(216, 53, 46));
  }
}

.delice-dark {
  background-color: darken($color-delice-fond, 3);
  & p {
    @include darken-gradient(rgb(108, 178, 249), rgb(4, 49, 223));
  }
}

.palette-dark {
  background-color: darken($color-palette-fond, 3);
  & p {
    @include darken-gradient(rgb(191, 255, 126), rgb(56, 151, 60));
  }
}

.prochainement__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  & button {
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 2px;
    background-color: $color-primary;
    font-size: 20px;
    color: $color-secondary;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1000ms ease-in-out;
    &:hover {
      transform: scale(0.95);
      box-shadow: 5px 5px 10px grey;
    }

    & .point-1 {
      margin-left: 5px;
      font-weight: bold;
      opacity: 0;
    }
    & .point-2,
    .point-3 {
      margin-left: 2px;
      font-weight: bold;
      opacity: 0;
    }
  }
}
