.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

  > .menu-title {
    font-size: 20px;
    font-weight: bold;
    height: 15%;

    display: flex;

    justify-content: center;

    align-items: center;
    & p {
      margin-bottom: 30px;
    }
  }

  & .menu-verso {
    box-shadow: 0px 0px 10px 0px rgb(158, 158, 158);
    width: 90%;
    font-family: sans-serif;
    font-style: italic;
    padding: 20px 10px 20px 10px;

    > .menu-header {
      display: flex;

      flex-direction: column;

      justify-content: center;
      text-align: center;
      height: 25%;
      padding-top: 10px;
      > .header-title {
        > p {
          margin-top: 10px;
          font-weight: bold;
          font-size: 40px;
          font-family: Tangerine;
        }
      }
      > .title-note {
        p {
          font-size: 25px;
          font-family: serif;
        }
      }
    }

    > .menu-section {
      display: flex;
      justify-content: space-around;
      height: 65%;

      > .starters,
      .dishes,
      .deserts {
        width: 30%;
      }

      & .title {
        display: flex;

        justify-content: space-between;
        text-align: center;
        font-weight: bold;

        align-items: center;
        height: 68px;

        & .img-deco {
          width: 30%;
          height: 10px;

          transform: scale(0);

          transition: all 1000ms;
        }

        &:hover > .img-deco {
          transform: scale(1);
          &__left {
            transform-origin: left;
          }
          &__right {
            transform-origin: right;
          }
        }
      }

      & .choice {
        display: flex;

        justify-content: space-between;
        font-size: 15px;
        width: 100%;
        text-align: center;

        > .choice-text {
          text-align: left;
        }
        > .choice-price {
          font-weight: bold;

          display: flex;

          align-items: center;
          & p {
            margin-left: 15px;
          }
        }
      }
    }

    > .menu-footer {
      display: flex;

      justify-content: center;

      align-items: center;

      height: 10%;
      > p {
        font-weight: bold;
        font-size: 25px;
      }
    }
  }

  > #menu-note {
    background-color: $color-note-fond;
    color: $color-note-texte;
    > .header-icon {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    & .title-note {
      font-family: serif;
    }
    & i {
      margin-right: 15px;
      @include gradient(rgb(240, 81, 96), rgb(246, 145, 106));
    }
  }

  > #menu-delice {
    background-color: $color-delice-fond-verso;
    & #title-delice {
      @include gradient(rgb(108, 178, 249), rgb(4, 49, 223));
      font-family: serif;
    }
  }

  > #menu-chic {
    background-color: $color-chic-fond;
    font-style: normal;
    & #title-chic {
      @include gradient(rgb(144, 91, 253), rgb(216, 53, 46));
      font-family: serif;
    }
    & #starters-chic {
      color: rgb(198, 116, 18);
    }

    & #dishes-chic {
      color: rgb(165, 103, 153);
    }

    & #deserts-chic {
      color: rgb(110, 76, 204);
    }
  }

  > #menu-palette {
    background: $color-palette-fond;
    & #title-palette {
      @include gradient(rgb(191, 255, 126), rgb(56, 151, 60));
      font-family: serif;
    }
  }
}
