// Animation btn prochainement
@keyframes suspension-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes suspension-2 {
  0% {
    transform: scale(0);
  }
  33% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes suspension-3 {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.point-1 {
  transform-origin: center;
  animation: suspension-1 2000ms both infinite;
}
.point-2 {
  transform-origin: center;
  animation: suspension-2 2000ms both infinite;
}
.point-3 {
  transform-origin: center;
  animation: suspension-3 2000ms both infinite;
}

// Animation btns footer
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// Animation titres des entrées plats desserts
@keyframes deco {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.title {
  &:hover > .img-deco {
    animation: deco 1000ms both;
    &__left {
      transform-origin: left;
    }
    &__right {
      transform-origin: right;
    }
  }
}

// Animation sur item menu et opacity
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.menu-in {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#note-dark {
  background-color: darken($color-note-fond, 3);
}

#chic-dark {
  background-color: darken($color-chic-fond, 3);
}

#delice-dark {
  background-color: darken($color-delice-fond, 3);
}

#palette-dark {
  background-color: darken($color-palette-fond, 3);
}

.menus-container .menu:hover {
  animation: zoom 500ms both;
  & .menu-in {
    opacity: 1;
  }
}
