// Animation point de suspension btn prochainement
@keyframes suspension-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes suspension-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes suspension-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.point-1 {
  animation: suspension-1 1500ms infinite;
}
.point-2 {
  animation: suspension-2 1500ms infinite;
}
.point-3 {
  animation: suspension-3 1500ms infinite;
}

// Animation btns footer
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer .btn__container a p {
  &:hover {
    animation: wiggle 300ms infinite;
    cursor: pointer;
  }
}
