header {
  & p {
    @media screen and (max-width: 700px) {
      font-size: 30px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 60px;
    }
    @media screen and (min-width: 2000px) {
      font-size: 75px;
    }
  }
}

section {
  .menus-container {
    @media screen and (max-width: 400px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
    }
    @media screen and (min-width: 400px) and (max-width: 1025px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      flex-wrap: wrap;
    }
    > a {
      @media screen and (max-width: 400px) {
        width: 70%;
        margin-top: 40px;
      }
      @media screen and (min-width: 400px) and (max-width: 1025px) {
        width: 40%;
        height: 40vh;
        margin-top: 40px;
      }

      & .menu__title {
        @media screen and (max-width: 700px) {
          font-size: 25px;
        }
        @media screen and (min-width: 1400px) {
          font-size: 40px;
        }
      }

      & .menu__content {
        & p {
          @media screen and (max-width: 700px) {
            font-size: 20px;
          }
          @media screen and (min-width: 1400px) {
            font-size: 40px;
          }
        }
      }
      & .note {
        & p {
          @media screen and (max-width: 700px) {
            font-size: 15px;
          }
          @media screen and (min-width: 1400px) {
            font-size: 25px;
          }
        }
      }
    }
  }
  .prochainement__container {
    & button {
      @media screen and (max-width: 700px) {
        font-size: 15px;
      }
      @media screen and (min-width: 1400px) {
        font-size: 30px;
      }
    }
  }
}

footer .footer-content a p {
  @media screen and (max-width: 700px) {
    font-size: 15px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 30px;
  }
  @media screen and (min-width: 2000px) {
    font-size: 40px;
  }
}

// page menu
section {
  > .menu-container {
    & .menu-title {
      @media screen and (min-width: 1400px) {
        font-size: 30px;
      }
      @media screen and (min-width: 2000px) {
        font-size: 40px;
      }
    }
    > .menu-verso {
      & .menu-header .header-title,
      .menu-footer {
        & p {
          @media screen and (max-width: 767px) {
            font-size: 35px;
          }
          @media screen and (min-width: 1400px) {
            font-size: 45px;
          }
          @media screen and (min-width: 2000px) {
            font-size: 55px;
          }
        }
      }

      > .menu-section {
        @media screen and (max-width: 1023px) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          > .starters,
          .dishes,
          .deserts {
            width: 90%;
            margin-bottom: 20px;
          }
        }
        .starters,
        .dishes,
        .deserts {
          & p {
            @media screen and (min-width: 1400px) {
              font-size: 20px;
            }
            @media screen and (min-width: 2000px) {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
