//Mixins

@mixin gradient($color, $color1) {
  background: -webkit-gradient(linear, left top, left bottom, from($color), to($color1));
  background: linear-gradient($color, $color1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
