//* Variables *//

$color-primary: rgb(87, 156, 135);
$color-secondary: rgb(253, 203, 70);
$color-note-fond: rgb(252, 223, 219);
$color-note-texte: rgb(60, 18, 24);
$color-chic-fond: rgb(255, 245, 254);
$color-delices-fond: rgb(249, 249, 249);
$color-palette-fond: white;
